.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.pagination span {
  font-weight: bold;
}

.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container button {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: var(--transition);
  padding: 0.4rem 0.8rem;
}

.container button:hover {
  background: var(--clr-primary-1);
  color: var(--clr-white);
}
