.sidebar {
  grid-row: 1/-1;
  background: var(--color-grey-1);
  min-height: calc(100vh - 2rem);
  padding: 1rem 2rem;
}

.logo-container {
  text-align: center;
}

.logo {
  height: 120px;
  width: 120px;
}

.profile {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.profile-info {
  text-align: center;
}
.profile-info p {
  font-weight: bold;
  font-size: 1.3rem;
}
