.section {
  margin-top: 5rem;
}

.section h1 {
  text-align: center;
}

.reviews-container {
  overflow: hidden;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  margin-top: 7rem;
}

.review-slider > article {
  flex: 0 0 33.33%; /* Display 3 reviews at a time */
  transition: transform 0.5s ease-in-out;
}

.heading {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.rounded {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid var(--clr-primary-1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icons {
  color: var(--clr-primary-1);
  font-size: 4rem;
}

.forward {
  background: transparent;
  border: none;
  cursor: pointer;
}

.disable .icons {
  color: var(--color-dark-2);
}
.rounded.disable {
  border: 1px solid var(--color-dark-2);
}
