@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* dark shades of primary color*/
  --clr-primary-1: #1dc5ce;
  --color-grey-700: #f8f8f8;
  --color-light-1: #eaf6f6;
  --color-dark: #10221b;
  --clr-white: #fff;
  --ff-primary: "Poppins", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}

/* p{
  font-size: 2rem;
} */

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

body {
  font-family: var(--ff-primary);
  line-height: 1.5;
  background: var(--clr-white);
  color: var(--color-dark);
}

.section-center {
  max-width: 1400px;
  margin: 0 auto;
}

.btn {
  text-transform: uppercase;
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.space-top {
  margin-top: 5rem;
}

.underline {
  width: 8rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--clr-primary-1);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}
