@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* @import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"); */
@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";

:root {
  /* dark shades of primary color*/
  --clr-primary-1: #1dc5ce;
  --clr-primary-2: #1db4bc;
  --clr-primary-3: #22b7be;
  --color-grey-700: #f8f8f8;
  --color-light-1: #eaf6f6;
  --color-light-2: #f3f7fa;
  --color-light-3: #d3f0f4;

  --color-grey-1: #f3f7fa;
  --color-dark: #10221b;
  --color-dark-2: #505050;
  --color-dark-3: #2d3439;
  --clr-white: #fff;
  --danger: #dc2626;
  --ff-primary: "Poppins", sans-serif;
  --ff-secondary: "Lobster", sans-serif;
  --ff-third: "Kanit", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}

/* p{
  font-size: 2rem;
} */

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

body {
  font-family: var(--ff-primary);
  line-height: 1.5;
  background: var(--clr-white);
  color: var(--color-dark);
}

.section-center {
  max-width: 1400px;
  margin: 0 auto;
}

.btn {
  text-transform: uppercase;
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.space-top {
  margin-top: 5rem;
}

.underline {
  width: 8rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--clr-primary-1);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark-3);
  color: var(--color-grey-1);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.leaflet-popup .leaflet-popup-content span:first-child {
  font-size: 2.5rem;
  line-height: 1;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark-3);
}

.leaflet-popup-content-wrapper {
  border-left: 5px solid var(--clr-primary-1);
}

.not-found {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.content {
  width: 50%;
  text-align: center;
}

.content h1 {
  font-size: 3.5rem;
  letter-spacing: 1.4px;
  margin-bottom: 1rem;
}

.content p {
  font-size: 1.1rem;
  letter-spacing: 1.2px;
  color: var(--color-dark-2);
}

.error-img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.not-found-btn {
  display: flex;
  align-items: center;
  background: var(--clr-primary-1);
  color: var(--clr-white);
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  letter-spacing: 1.2px;
  font-size: 1.2rem;
  border-radius: 10px;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}

.not-found-btn a {
  color: inherit;
}

.not-found-btn:hover {
  transform: scale(1.1);
  color: var(--color-dark);
}
