.main {
  border-radius: 10px;
  border-color: var(--color-light-2);
  box-shadow: var(--light-shadow);
}

.table-header {
  display: grid;
  grid-template-columns: 1fr 0.9fr 0.4fr 0.6fr 0.7fr;
  align-items: center;
  overflow: hidden;
}

.table-header div {
  /* justify-self: start; */
  font-size: 1.2rem;
  color: var(--color-dark);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  background: var(--color-light-1);
  padding: 1rem 0.6rem;
}

.loading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-bookings {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.no-bookings a {
  margin-top: 1rem;
  color: var(--clr-white);
  background: var(--clr-primary-1);
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  border-radius: 10px;
  transition: var(--transition);
}

.no-bookings a:hover {
  transform: scale(1.1);
}
