.link {
  color: #10221b;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  transition: var(--transition);
  border-radius: 10px;
  padding: 0.7rem 0.7rem;
}

.link-sidebar {
  display: flex;
  align-items: center;
  color: var(--color-dark);
  text-transform: uppercase;
  letter-spacing: 1.2px;
  gap: 10px;
  width: 50%;
  margin: 0 auto;
}

.sidebar-active {
  background: var(--color-dark);
  color: var(--clr-white);
  padding: 0.4rem 0.8rem;
}

.link:hover {
  color: var(--clr-primary-1);
}

.active.link:hover {
  color: var(--clr-white);
}

/* .login-btn .active {
  background: transparent;
} */

.login-btn {
  border: none;
  cursor: pointer;
  background: transparent;
}

.active {
  background: var(--clr-primary-1);
}
