.section {
  margin-top: 5rem;
}

.section h1 {
  font-size: 4rem;
  text-align: center;
}

.tours-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  margin-bottom: 2rem;
}
