.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 3rem;
  row-gap: 2rem;
  padding: 2rem 2rem 0 2rem;
  align-items: stretch;
}

.loading {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
