.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-grey-1);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: var(--light-shadow);
}

.nav-heading {
  display: flex;
  align-items: center;
  gap: 13px;
}

.nav-heading button {
  font-size: 1rem;
  border: none;
  cursor: pointer;
  background: var(--color-dark);
  color: var(--clr-white);
  padding: 0.5rem 0.9rem;
  transition: var(--transition);
  border: 1px solid var(--color-dark);
  border-radius: 10px;
}

.nav-heading button:hover {
  color: var(--color-dark);
  background: transparent;
  border: 1px solid var(--color-dark);
}

.container {
  position: relative;
}

.count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* padding: 5px; */
  background: var(--clr-primary-1);
  position: absolute;
  top: -10px;
  right: -7px;
}

.count span {
  font-size: 0.8rem;
  color: var(--clr-white);
  font-weight: bold;
}

.notification {
  font-size: 1.5rem;
  color: var(--clr-primary-1);
}
