.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  column-gap: 2rem;
}
.heroText h1 {
  letter-spacing: 1.2px;
  font-size: 4rem;
  /* margin-bottom: 1.3rem; */
}

.heroText span {
  font-size: 10rem;
  margin-bottom: 2rem;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 1.7rem;
}

.heroText p {
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-bottom: 4rem;
}

.hero-btn {
  color: var(--clr-primary-1);
  border: 1px solid var(--clr-primary-1);
  background: transparent;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 1rem 3rem;
  border-radius: 10px;
}

.hero-btn:hover {
  color: var(--clr-white);
  background: var(--clr-primary-1);
}

.hero-image {
  display: block;
  width: 100%;
}

.hero-image img {
  height: 42rem;
}

.wrap {
  /* height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; */
}

.button {
  display: inline-block;
  min-width: 300px;
  min-height: 60px;
  font-family: var(--ff-third);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  /* background: rgb(29, 196, 205); */
  background: linear-gradient(
    90deg,
    rgb(132, 244, 250) 0%,
    rgb(33, 229, 240) 100%
  );
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 1rem 2rem;
  box-shadow: var(--light-shadow);
  margin-top: 2rem;
}

.button:hover,
.button:focus {
  color: #313133;
  transform: translateY(-6px);
}

.button::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid var(--clr-primary-3);
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.button:hover::after,
.button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
