.guide {
  margin-top: 10rem;
  text-align: center;
}

.main {
  overflow: hidden;
}

.guide-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  column-gap: 2rem;
  transform: translate3d(0px, 0px, 0px);
  transition: all 2.8s ease 0s;
  margin-top: 7rem;
  padding: 1rem;
  width: 100%;
}

.move {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.rectangle {
  height: 8px;
  width: 40px;
  border: 1px solid var(--clr-primary-2);
  border-radius: 4px;
  transition: var(--transition);
  cursor: pointer;
}

.active {
  background: var(--clr-primary-2);
  width: 55px;
}
